{% extends 'base.html' %}
{% block title %}
    Drivers info
{% endblock %}
{% block body %}
<h1>Drivers info</h1>
<table>
    <thead>
        <tr>
            <th>Position</th>
            <th>Name</th>
            <th>Code</th>
            <th>Lap time</th>
        </tr>
    </thead>
    <tbody>
    {% for driver, result in prepared_data %}
        <tr>
            <td>{{ result.position }}.</td>
            <td>{{ driver.name }}</td>
            <td><a href="{{ url_for('report.unique_driver', driver_id=driver.abr) }}">{{ driver.abr }}</a></td>
            <td>{{ result.minutes }}:{{ result.seconds }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}