{% extends 'base.html' %}
{% block title %}
    Drivers info
{% endblock %}
{% block body %}
<h1>Drivers info</h1>
<table>
    <thead>
        <tr>
            <th>Index</th>
            <th>Name</th>
            <th>Team</th>
            <th>Lap time</th>
        </tr>
    </thead>
    <tbody>

    {% if driver_id %}
        {% for driver in prepared_data %}
            {% if driver_id == driver.abr %}
                <tr>
                    <td>{{ driver.position }}.</td>
                    <td>{{ driver.name }}</td>
                    <td>{{ driver.team }}</td>
                    <td>{{ driver.lap_time.minutes }}:{{ driver.lap_time.seconds }}</td>
                </tr>
            {% endif %}
        {% endfor %}
    {% else %}

        {% for driver in prepared_data %}
        <tr>
            <td>{{ driver.position }}.</td>
            <td>{{ driver.name }}</td>
            <td><a href="{{ url_for('router.drivers', driver_id=driver.abr) }}">{{ driver.abr }}</a></td>

            <td>{{ driver.lap_time.minutes }}:{{ driver.lap_time.seconds }}</td>
        </tr>

        {% endfor %}
    {% endif %}
    </tbody>
</table>
{% endblock %}