{% extends 'base.html' %}

{% block title %}
    Common Statistics
{% endblock %}

{% block body %}
<h1>Common Statistics</h1>
<table>
    <thead>
        <tr>
            <th>Abr</th>
            <th>Name</th>
            <th>Team</th>
        </tr>
    </thead>
    <tbody>
        {% for result in prepared_data %}
        <tr>
            <td>{{ result.driver.abr }}</td>
            <td>{{ result.driver.name }}</td>
            <td>{{ result.driver.team }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}