<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Drivers code</title>
</head>
<body>
<h1>Drivers code</h1>
<table>
    <thead>
        <tr>
            <th>Index</th>
            <th>Driver</th>
            <th>Code</th>
        </tr>
    </thead>
    <tbody>
        {% for index, item in prepared_data %}
        <tr>
            <td>{{ index }}.</td>
            <td>{{ item[0] }}</td>
            <td><a href="{{ url_for('drivers_id', driver_id=item[3]) }}">{{ item[3] }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</body>
</html>
