{% extends 'base.html' %}
{% block title %}
    Drivers info
{% endblock %}
{% block body %}
<h1>Drivers info</h1>
<table>
    <thead>
        <tr>
            <th>Index</th>
            <th>Name</th>
            <th>Team</th>
            <th>Lap time</th>
        </tr>
    </thead>
    <tbody>
    {% if not driver_id %}
        {% for position, name, team, lap_time, code in prepared_data %}
        <tr>
            <td>{{ position }}.</td>
            <td>{{ name }}</td>
            <td><a href="{{ url_for('drivers', driver_id=code) }}">{{ code }}</a></td>

            <td>{{ lap_time.minutes }}:{{ lap_time.seconds }}</td>
        </tr>
        {% endfor %}
    {% else %}
        {% for position, name, team, lap_time, code in prepared_data %}
            {% if driver_id == code %}
                <tr>
                    <td>{{ position }}.</td>
                    <td>{{ name }}</td>
                    <td>{{ team }}</td>
                    <td>{{ lap_time.minutes }}:{{ lap_time.seconds }}</td>
                </tr>
            {% endif %}
        {% endfor %}
    {% endif %}
    </tbody>
</table>
{% endblock %}