{% extends 'base.html' %}

{% block title %}
    <title>Drivers code</title>
{% endblock %}
{% block body %}
<h1>Drivers code</h1>
<table>
    <thead>
        <tr>
            <th>Index</th>
            <th>Driver</th>
            <th>Code</th>
        </tr>
    </thead>
    <tbody>
        {% for index, item in prepared_data %}
        <tr>
            <td>{{ index }}.</td>
            <td>{{ item[0] }}</td>
            <td><a href="{{ url_for('drivers_id', driver_id=item[3]) }}">{{ item[3] }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}