{% extends 'base.html' %}

{% block title %}
    Common Statistics
{% endblock %}

{% block body %}
<h1>Common Statistics</h1>
<table>
    <thead>
        <tr>
            <th>Index</th>
            <th>Name</th>
            <th>Team</th>
            <th>Lap time</th>
        </tr>
    </thead>
    <tbody>
        {% for position, name, team, lap_time, _ in prepared_data %}
        <tr>
            <td>{{ position }}.</td>
            <td>{{ name }}</td>
            <td>{{ team }}</td>
            <td>{{ lap_time.minutes }}:{{ lap_time.seconds }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}